@import url("menu.css");
@import url("share.css");

@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

html, body{
   height: 100%;
   background-color: #f7f7f7;
}

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   /*margin: 0;
   padding: 0;*/
}

body {
   font-family: "Open Sans", sans-serif;
   padding: 0;
   margin: 0;
   background-color: #EEEEEE;
}

a{
   text-decoration: none;
   color: black;
}

.main-section{
   background: url(../images/lion.jpg) no-repeat center center fixed;
   background-size: cover;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   color: white;
   height: 100%;
   text-align: center;
}
