@import url("menu.css");
@import url("share.css");

@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

html, body{
	height: 100%;
	background-color: #f7f7f7;
}

.loader{
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("../images/rajasthan.jpg") no-repeat center center;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	height: 100%;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.center{
	text-align: center;
}

body {
	font-family: "Open Sans", sans-serif;
	padding: 0;
	margin: 0;
	background-color: #EEEEEE;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

a, a:hover{
	text-decoration: none;
	color: #f8f7f2;
}

.home-section{
	/*background-color: #000;*/
	background: url(../images/home_bg.jpg) no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: white;
	height: 100%;
	text-align: center;
}

.efest-logo{
	max-width: 100%;
	width: 350px;
	height: auto;
	position:relative;
	margin-top:2%;
}

@media only screen and (min-width: 1024px) {
	.efest-logo{
		max-width: 100%;
		width: 25%;
		height: auto;
		position:relative;
		margin-top:2%;
	}
}

/*Mobile view portrait*/
@media only screen and (max-width: 480px) and (orientation: portrait) {
	.efest-logo{
		max-width: 100%;
		width: 50%;
		height: auto;
		position:relative;
		margin-top:20%;

	}
	.loader img {display:none;}
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
	.efest-logo{
		max-width: 100%;
		width: 30%;
		height: auto;
		position:relative;
		margin-top:5%;
	}
	.loader img {display:none;}
}

/*Tablet view Portrait*/
@media only screen and (max-width: 1024px) and (min-width : 768px ) and (orientation: portrait) {
	.efest-logo{
		max-width: 100%;
		width: 40%;
		height: auto;
		position:relative;
		margin-top:10%;
	}

}

/*Tablet view*/
@media only screen and (max-width: 1024px) and (min-width : 768px ) and (orientation: landscape) {
	.efest-logo{
		max-width: 100%;
		width: 30%;
		height: auto;
		position: relative;
		margin-top: 7%;
	}

}

/* Day One Section One Styling Start*/

.ltr-section{
	background: url(../images/the_local_train2.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: white;
	height: 100%;
	text-align: center;
}

.ltr_logo{
	margin-top: 3%;
	/*vertical-align: top;*/
	max-width: 100%;
	width: 400px;
	height: auto;
}

.col2, .col3, .col4, .col5{
	border-left: #D3D3D3 1px solid;
	height: 100vh;
	display: table-cell;
	/*vertical-align: bottom;*/
	/*float: none;*/
	/*font-size: 1.2em;
	font-weight: bolder;
	font-family: 'Raleway', sans-serif;*/
	color: #fff;
	/*padding-bottom: 50px;
	text-transform: uppercase;*/
}

.col2:hover{
	background: url("../images/1_02.jpg") no-repeat center center;
	background-size: auto 100%;
	-webkit-background-size: auto 100%;
	-o-background-size: auto 100%;
	-moz-background-size: auto 100%;
	height: 100vh;
}
.col3:hover{
	background: url("../images/2_02.jpg") no-repeat center center;
	background-size: auto 100%;
	-webkit-background-size: auto 100%;
	-o-background-size: auto 100%;
	-moz-background-size: auto 100%;
	height: 100vh;
}
.col4:hover{
	background: url("../images/3_02.jpg") no-repeat center center;
	background-size: auto 100%;
	-webkit-background-size: auto 100%;
	-o-background-size: auto 100%;
	-moz-background-size: auto 100%;
	height: 100vh;
}
.col5:hover{
	background: url("../images/4_02.jpg") no-repeat center center;
	background-size: auto 100%;
	-webkit-background-size: auto 100%;
	-o-background-size: auto 100%;
	-moz-background-size: auto 100%;
	height: 100vh;
}

.local-train-logo img{
    display:none;
}
.local-train-logo img{
    width: 60%;
}

@media only screen and (max-width: 992px) and (orientation: portrait) {

	.local-train-logo img{
	   display: block;
	   position: relative;
	   padding-top: 20%;
		left:20%;
	   height:auto;
	}

	.ltr-section{
		background: url(../images/the_local_train.jpg) no-repeat center center fixed;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		color: white;
		height: 100%;
		text-align: center;
	}

}

/* Day One Section One Styling End*/

/* Day Two Section One Styling Start*/

.euphoria-section{
	background: url(../images/euphoriaBackground.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: white;
	height: 100%;
	text-align: center;
}

.euphoriaForground{
	position: absolute;;
	bottom:0%;
}
.euphoriaForground img{
	height: 100%;
	width: 100%;
}

.light {
	animation:top-right 5s ease-in-out alternate infinite;
	border-bottom:none;
	border-left:solid 20vh transparent;
	border-right:solid 20vh transparent;
	border-top:solid 200vh rgba(255, 255, 255, .5);
	bottom:0;
	height:0;
	left:0;
	position:absolute;
	transform-origin:bottom;
	width:0;
}

.light + .light {
	animation:top-left 4s ease-in-out alternate infinite;
	left:auto;
	right:0;
}
/*Euphoria text effect*/


#svgWrapper {
  display: inline-block;
  width: 4vw;
  height:200%;
  cursor: pointer;
}
#svgWrapper svg {
  stroke-width: 17;
  width: 40vw;
  height:40%;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}
#svgWrapper svg .bigfont{
  stroke-width: 17;
  width: 60vw;
  height:60%;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

#svgWrapper svg #stroke .E {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  stroke-width: 5;
  -webkit-animation: summerbird-s 0.5s linear forwards .8s;
          animation: summerbird-s 0.5s linear forwards .8s;
}
#svgWrapper svg #stroke .U {
  stroke-dasharray: 2400;
  stroke-dashoffset: 2400;
  stroke-width: 5;
  -webkit-animation: summerbird-s 0.8s linear forwards 1.1s;
          animation: summerbird-s 0.8s linear forwards 1.1s;
}
#svgWrapper svg #stroke .P {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  stroke-width: 10;
  -webkit-animation: summerbird-s 1.1s linear forwards 1.4s;
          animation: summerbird-s 1.1s linear forwards 1.4s;
}
#svgWrapper svg #stroke .H {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  stroke-width: 5;
  -webkit-animation: summerbird-s 1.4s linear forwards 1.7s;
          animation: summerbird-s 1.4s linear forwards 1.7s;
}
#svgWrapper svg #stroke .O {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  stroke-width: 5;
  -webkit-animation: summerbird-s 1.7s linear forwards 2s;
          animation: summerbird-s 1.7s linear forwards 2s;
}
#svgWrapper svg #stroke .R {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  stroke-width: 5;
  -webkit-animation: summerbird-s 2s linear forwards 2.3s;
          animation: summerbird-s 2s linear forwards 2.3s;
}
#svgWrapper svg #stroke .I {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  stroke-width: 15;
  -webkit-animation: summerbird-s 2.3s linear forwards 2.5s;
          animation: summerbird-s 2.3s linear forwards 2.5s;
}
#svgWrapper svg #stroke .A {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  stroke-width: 5;
  -webkit-animation: summerbird-s 2.5s linear forwards 2.7s;
          animation: summerbird-s 2.5s linear forwards 2.7s;
}





@-webkit-keyframes summerbird-s {
  0% {
    stroke-dashoffset: 1200;
  }
  33% {
    stroke-width: 5;
  }
  90% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 17;
  }
}

@keyframes summerbird-s {
  0% {
    stroke-dashoffset: 1200;
  }
  33% {
    stroke-width: 5;
  }
  90% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 17;
  }
}
@-webkit-keyframes summerbird-ummerbird {
  0% {
    stroke-dashoffset: 2400;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 15;
  }
}
@keyframes summerbird-ummerbird {
  0% {
    stroke-dashoffset: 2400;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 15;
  }
}


/*Euphoria text effect end*/
@keyframes top-right {
	0% {
		transform:rotate(-10deg);
	}
	100% {
		transform:rotate(70deg);
	}
}

@keyframes top-left {
	0% {
		transform:rotate(10deg);
	}
	100% {
		transform:rotate(-70deg);
	}
}

/* Day Two Section One Styling End*/
