.text--line {
  font-size: 5.5em;
}

svg {
  /*position: absolute;*/
  width: 100%;
  height: 70%;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  animation: stroke-offset 10s linear;
}
.text-copy:nth-child(1) {
  stroke: #7F4114;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #FFAF75;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #FF8228;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #7F573A;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #CC6820;
  stroke-dashoffset: 35%;
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}
